.LoadingScreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LoadingScreen-Label {
  text-align: center;
  font-weight: 200;
  font-size: 20px;
}

.LoadingScreen-Spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: scale(0.5);
}
.LoadingScreen-Spinner div {
  animation: LoadingScreen-Spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.LoadingScreen-Spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #3b6;
  margin: -4px 0 0 -4px;
}
.LoadingScreen-Spinner div:nth-child(1) {
  animation-delay: -0.036s;
}
.LoadingScreen-Spinner div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.LoadingScreen-Spinner div:nth-child(2) {
  animation-delay: -0.072s;
}
.LoadingScreen-Spinner div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.LoadingScreen-Spinner div:nth-child(3) {
  animation-delay: -0.108s;
}
.LoadingScreen-Spinner div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.LoadingScreen-Spinner div:nth-child(4) {
  animation-delay: -0.144s;
}
.LoadingScreen-Spinner div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.LoadingScreen-Spinner div:nth-child(5) {
  animation-delay: -0.18s;
}
.LoadingScreen-Spinner div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.LoadingScreen-Spinner div:nth-child(6) {
  animation-delay: -0.216s;
}
.LoadingScreen-Spinner div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.LoadingScreen-Spinner div:nth-child(7) {
  animation-delay: -0.252s;
}
.LoadingScreen-Spinner div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.LoadingScreen-Spinner div:nth-child(8) {
  animation-delay: -0.288s;
}
.LoadingScreen-Spinner div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes LoadingScreen-Spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
